<!DOCTYPE html>
<html lang="de">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
         font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
      }

      tr:nth-child(even) {background-color: #f2f2f2}

      table {
        border-collapse:collapse;

      }
      td {
        border: 0px;

      }
      th {
          background-color: #4CAF50;
          color: white;
      }
      tr:hover {background-color: #e5e5e5}
      th, td {
          padding: 8px;
          text-align: left;
      }
    </style>
  </head>
  <body>
    <h1>{{ self.title() }}</h1>
    {% block content %}{% endblock %}
  </body>
</html>
